%div.monster-unit
  %h1 Monsters

%table{:class => "table table-striped table-bordered","data-provides" => "rowlink"}
  %thead
    %tr
      %th Name
      %th Level
  %tbody
    - @monsters.each do |monster|
      %tr
        %td= link_to monster.name, monster
        %td= monster.level

= link_to 'New Monster', new_monster_path, :class => "btn btn-primary btn-large"

= link_to 'Auto-Create Monsters', auto_create_monsters_path, :class => "btn btn-primary btn-large"

