%h1 Editing encounter

= button_to 'Delete the encounter', encounter_path(@encounter), :method => :delete, :confirm => 'Are you sure you want to delete this encounter?', :class => "btn btn-danger"

= link_to 'Show', @encounter
\|
= link_to 'Back', encounters_path

= render 'form'


