%div.hero-unit
  %h1 Achievements

%div.well
  = link_to 'New Achievement', new_achievement_path, :class => "btn btn-primary"
  = link_to 'Assign Achievement', new_achievement_instance_path, :class => "btn btn-primary"

%table{:class => "table table-bordered"}
  %tbody
    - @achievements.each_slice(4) do |achievements_row|
      %tr
        - achievements_row.each do |achievement|
          %td{:style => "text-align:center"}
            %p=achievement.name.upcase
            =link_to image_tag(achievement.image, :width => "120px"), achievement, :title => achievement.description
